.c-cardSlider{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    position: relative;
    min-height: 350px;
    margin-bottom: 100px;

    @media( min-width: 48em ){
        margin-bottom: 300px;
    }

    @media( min-width: 62em ){
        margin: 0 auto;
        margin-bottom: 300px;
    }
    
    &__title{
        font-family: $monster;
        font-size: 54px;
        font-weight: 300;
        color: color(red-brand);

        @media( min-width: 48em ){
            font-size: 54px;
            align-self: flex-start;
            margin-left: 70px;
            // margin-bottom: 20px;
        }
        
        @media( min-width: 62em ){
            font-size: 67px;
            margin-top: 50px;

        }

        
    }

    &__container{
        position: absolute;
        margin-top:50px ;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 48px;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          display: none;
        }

        @media( min-width: 48em ){
            padding-left: 70px;
            padding-top: 50px;
        }

        @media( min-width: 62em ){
            justify-content: space-between;
            padding-top: 100px;
        }

    }
}