/*
* Colors
*/

$colors: (
  // los voy a cambiar ahora por los que usare en realidad
  white: #fff,
  fonts: #425966,
  cards-bg: #E9F1FA,
  shadow:#BFC4CAD1,
  ligth-dhadow: #A9A9A911,
  dark-shadow: #00000029,
  footer: #6AA3C1,
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn 'That color is not defined: \'#{$key}\'';
}