/*
* Colors
*/

$colors: (
  white: #fff,
  dark-gray: #425966,
  cards-bg: #E9F1FA,
  shadow:#BFC4CAD1,
  ligth-shadow: #A9A9A911,
  dark-shadow: #00000029,
  blue: #6AA3C1,
  gray:#8395A7,
  red-brand: #D84A4A,

);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn 'That color is not defined: \'#{$key}\'';
  @return null;
}